[submodule "core/service/near-state-indexer"]
	path = core/service/near-state-indexer
	url = https://github.com/near-akaia/akaia.core.service.near-state-indexer.git
[submodule "core/service/fast-near"]
	path = core/service/fast-near
	url = https://github.com/near-akaia/akaia.core.service.fast-near.git
[submodule "core/service/web4"]
	path = core/service/web4
	url = https://github.com/near-akaia/akaia.core.service.web4.git
[submodule "core/service/web4-deploy"]
	path = core/service/web4-deploy
	url = https://github.com/near-akaia/akaia.core.service.web4-deploy.git
[submodule "core/adapter/nearfs"]
	path = core/adapter/nearfs
	url = https://github.com/near-akaia/akaia.core.adapter.nearfs.git
[submodule "core/service/web4"]
	path = core/service/web4
	url = https://github.com/near-akaia/akaia.core.service.web4.git
[submodule "core/service/keypom"]
	path = core/service/keypom
	url = https://github.com/near-akaia/akaia.core.service.keypom.git
[submodule "core/utility/near-cli-rs"]
	path = core/utility/near-cli-rs
	url = https://github.com/near-akaia/akaia.core.utility.near-cli-rs.git
[submodule "core/adapter/composedb"]
	path = core/adapter/composedb
	url = https://github.com/near-akaia/akaia.core.adapter.composedb.git
[submodule "entity/sputnik-dao"]
	path = entity/sputnik-dao
	url = https://github.com/near-akaia/akaia.entity.sputnik-dao.git
[submodule "core/service/bark"]
	path = core/service/bark
	url = https://github.com/near-akaia/akaia.core.service.bark.git
[submodule "core/service/hns"]
	path = core/service/hns
	url = https://github.com/near-akaia-root/akaia.core.service.hns
[submodule "core/service/multicall"]
	path = core/service/multicall
	url = https://github.com/near-akaia/akaia.core.service.multicall
[submodule "core/service/croncat-rs"]
	path = core/service/croncat-rs
	url = https://github.com/near-akaia/akaia.core.service.croncat-rs.git
