[submodule "core/service/near-state-indexer"]
	path = core/service/near-state-indexer
	url = https://github.com/near-akaia/akaia.core.service.near-state-indexer.git
[submodule "core/service/keypom"]
	path = core/service/keypom
	url = https://github.com/near-akaia/akaia.core.service.keypom.git
[submodule "core/service/hns"]
	path = core/service/hns
	url = https://github.com/near-akaia-root/akaia.core.service.hns
[submodule "core/service/multicall"]
	path = core/service/multicall
	url = https://github.com/near-akaia/akaia.core.service.multicall
[submodule "core/service/croncat-rs"]
	path = core/service/croncat-rs
	url = https://github.com/near-akaia/akaia.core.service.croncat-rs.git
[submodule "core/utility/near-cli-rs"]
	path = core/utility/near-cli-rs
	url = https://github.com/near-akaia/akaia.core.utility.near-cli-rs.git
[submodule "core/utility/web4-deploy"]
	path = core/utility/web4-deploy
	url = https://github.com/near-akaia/akaia.core.utility.web4-deploy.git
[submodule "core/service/iroh"]
	path = core/service/iroh
	url = https://github.com/near-akaia/akaia.core.service.iroh
[submodule "core/lib/jetpack-nixos"]
	path = core/lib/jetpack-nixos
	url = https://github.com/near-akaia/akaia.core.lib.jetpack-nixos.git
[submodule "core/service/sozu"]
	path = core/service/sozu
	url = https://github.com/near-akaia/akaia.core.service.sozu.git
[submodule "core/provider/near-social-bridge"]
	path = core/provider/near-social-bridge
	url = https://github.com/near-akaia/akaia.core.provider.near-social-bridge.git
[submodule "core/service/near-telegram-updater"]
	path = core/service/near-telegram-updater
	url = https://github.com/near-akaia/akaia.core.service.near-telegram-updater.git
[submodule "core/service/fast-near"]
	path = core/service/fast-near
	url = https://github.com/near-akaia/akaia.core.service.fast-near.git
[submodule "core/service/web4-http-gateway"]
	path = core/service/web4-http-gateway
	url = https://github.com/near-akaia/akaia.core.service.web4-http-gateway.git
[submodule "core/utility/ceramic-wheel"]
	path = core/utility/ceramic-wheel
	url = https://github.com/near-akaia/akaia.core.utility.ceramic-wheel.git
[submodule "core/adapter/composedb"]
	path = core/adapter/composedb
	url = https://github.com/near-akaia/akaia.core.adapter.composedb.git
[submodule "core/adapter/nearfs"]
	path = core/adapter/nearfs
	url = https://github.com/near-akaia/akaia.core.adapter.nearfs.git
[submodule "core/utility/hs-client"]
	path = core/utility/hs-client
	url = https://github.com/near-akaia/akaia.core.utility.hs-client.git
[submodule "core/utility/handout"]
	path = core/utility/handout
	url = https://github.com/near-akaia/akaia.core.utility.handout.git
[submodule "entity/sputnik-dao"]
	path = entity/sputnik-dao
	url = https://github.com/near-akaia/akaia.entity.sputnik-dao.git
[submodule "space/etherpad"]
	path = space/etherpad
	url = https://github.com/near-akaia/akaia.space.etherpad
[submodule "core/utility/coreutils"]
	path = core/utility/coreutils
	url = https://github.com/near-akaia/webnext.core.utility.coreutils.git
[submodule "core/utility/dust"]
	path = core/utility/dust
	url = https://github.com/near-akaia/webnext.core.utility.dust.git
[submodule "core/utility/bat"]
	path = core/utility/bat
	url = https://github.com/near-akaia/webnext.core.utility.bat.git
[submodule "core/utility/zellij"]
	path = core/utility/zellij
	url = https://github.com/near-akaia/webnext.core.utility.zellij.git
[submodule "core/utility/mprocs"]
	path = core/utility/mprocs
	url = https://github.com/near-akaia/webnext.core.utility.mprocs.git
[submodule "core/utility/ripgrep"]
	path = core/utility/ripgrep
	url = https://github.com/near-akaia/webnext.core.utility.ripgrep.git
[submodule "core/utility/gitui"]
	path = core/utility/gitui
	url = https://github.com/near-akaia/webnext.core.utility.gitui
[submodule "core/utility/irust"]
	path = core/utility/irust
	url = https://github.com/near-akaia/webnext.core.utility.irust.git
[submodule "core/utility/cargo-info"]
	path = core/utility/cargo-info
	url = https://github.com/near-akaia/webnext.core.utility.cargo-info
[submodule "core/utility/speedtest-rs"]
	path = core/utility/speedtest-rs
	url = https://github.com/near-akaia/webnext.core.utility.speedtest-rs
[submodule "core/runtime/rtx"]
	path = core/runtime/rtx
	url = https://github.com/near-akaia/webnext.core.runtime.rtx
[submodule "core/utility/cavif-rs"]
	path = core/utility/cavif-rs
	url = https://github.com/near-akaia/webnext.core.utility.cavif-rs
[submodule "core/service/bark"]
	path = core/service/bark
	url = https://github.com/near-akaia/webnext.core.service.bark
